body {
  font-family: Arial, sans-serif;
  
  background-color: rgb(249, 249, 249);
  margin: 0;
  padding: 20px;
}
.cards{
  background-color: rgb(204, 204, 204);
  color:rgb(38, 38, 38);
  border-radius: 5px;
}

.buttons{
  background-color: #909090; 
  color: rgb(255, 255, 255);
  border-radius: 5px;
}
button:hover {
  background-color: #757575;
  box-shadow: 3px 3px 7px

}

/* Schriftarten */
.font-small {
  font-size: 12px;
}

.font-medium {
  font-size: 18px;
}

.pageTitle {
  font-size: 30px;
  color:rgb(38, 38, 38);

}

.navbar{

}

