:root {
  --successColor: #1e8235;
  --primaryColor: #007bff;
  --primaryFontColor:#fff;
  --dangerColor: #dc3545;
  --warningColor: #ffc107;
  --primaryShadow: 3px 3px 7px  rgb(86, 86, 86);

}




body {
  font-family: Arial, sans-serif;
  
  background: linear-gradient(to right, #2a96df 0%, #ffffff 49%, #186598 100%);
  margin: 0;
  padding: 20px;
}

.pageTitle {
  margin-top: 100px;
  font-size: 30px;
  color: #212529;
  text-shadow: 3px 3px 7px;
}
.pTitle.pageTitle {
  font-size: 30px;
  color: #212529;
  text-shadow: 3px, 3px, 7px;
}


/* Farben */

.secondary {
  background-color: #6c757d;
  color: #fff;
}







.createItem{
  width: 100%;
  flex-direction: column;
  margin: 20px auto;
  background-color: rgb(204, 204, 204);
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 7px;
  padding: 10px ; 
  display: flex;  
  justify-content: space-between; 
}

.label-input-component{
  display: flex;
  align-items: ;
  height: 30px;
  width: 99%;
  margin:  auto 0;
  padding: 20px; 
   
  
}

.input.input{
  width: 250px;
  height: 30px;
  border-radius: 5px; 
  border: none; 
  box-sizing: border-box; 
  text-align: center; 
  box-shadow:inset 2px 2px 7px;
  margin-left: 20px;
}
.label.label{
  width: 250px; 
  padding: 10px;
  margin-bottom: 20px; 
  text-align: center; 
  
}

.input-checkbox {
  margin-left: 30px;
  width: 30px;
  height: 30px;
  border-radius: 5px; 
  border: px solid #5b5b5b;
  cursor: pointer;
}


.input-checkbox:checked {
  background-color: #5a5a5a; /* Farbe, wenn die Checkbox markiert ist */
  border-color: #5c5c5c;
}



.list{
  list-style-type: none;
  padding: 0px;

}

.listItem{
  height: 55px;
  width: 100%;
  margin: 50px auto;
  background-color: rgb(204, 204, 204);
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 7px;
  padding: 10px 0; 
  display: flex;  
  justify-content: space-between; 
}


.separator {
  height: 24px; /* Höhe des Textes oder der Symbole */
  border: solid 2px;
  
}

.employee-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.backButton .editButton {
  margin-bottom: 20px;
  top: -20px;
  
  
}

.employee-main {
  display: flex;
  width: 100%;
}

.employee-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
}

.employee-image-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

.pimage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.ma-score {
  margin-top: 30px;
}

.employee-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  
}

.employee-skills {
  flex: 1;
  margin-left: 30px;
}

.editButton {
  margin-top: 20px;
}

.dashboard-container {
  display: flex;
}

.joke-component, .birthday-component, .actives {
  flex:  300px; 
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(204, 204, 204);
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 9px;
}



.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}
.logo {
  width: 200px;
  height: 200px;
  margin: 20px 0; 
  animation: rotate 10s infinite linear;
  transform-style: preserve-3d;
}

.logo:hover {
  animation-play-state: paused;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.dashTitle {
  font-size: 33px;
  color: #513030;
  text-shadow: 2px 2px 7px #2e2e2e;

}

.footer {
  
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}



html, body {
  height: 100%;
  margin: 0;
}

#application {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-top: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fname {
  padding: 10px;
}

.name{
  padding: 10px;
}
.tName{
  padding: 10px;
}

