

.loginContainer {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .loginContainer .logo {
    width: 200px; 
    height: auto; 
    margin-bottom: 20px; 
    transition: transform 0.7s ease-in-out; /* Hinzufügen von Übergangseffekten */
}

.loginContainer .logo:hover {
  transform: scale(1.2); /* Vergrößern des Logos bei Hover */
}

.loginContainer .loginItem{
    height: 450px;
    width: 300px;
    margin: 50px auto 0;
    background-color: rgb(204, 204, 204);
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 7px;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 

   }

   .loginContainer .pageTitle {
    font-size: 30px;
    margin-bottom: 60px;
    text-shadow:  2px 2px 7px;
    color:rgb(38, 38, 38);
    text-align: center;
  }

  .loginContainer [type="email"], 
  input[type="password"] {
    width: 250px; 
    padding: 10px;
    margin-bottom: 20px; 
    border-radius: 5px; 
    border: none; 
    box-sizing: border-box; 
    text-align: center; 
    box-shadow:inset 2px 2px 7px;
}

.loginContainer button {
    width: 100%; 
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 60px; 
    background-color: #909090; 
    color: rgb(255, 255, 255);
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    box-shadow: 2px 2px 7px;
}

.loginContainer button:hover {
    background-color: #757575; 
}

.loginContainer .warningPopup {
    font-size: 50px;
    border: solid black;
    width: 500px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #a00b00;
    color: rgb(220, 220, 220);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 1.5);
    z-index: 1000; 
    opacity: 0; 
    transition: 1s ease-in-out;
    visibility: hidden; 
  }
  
  .loginContainer .warningPopup.visible {
    opacity: 1; 
    visibility: visible; 
  }
  
   
  
  .loginContainer .warningContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .loginContainer .closeBtn {
    color: rgb(46, 46, 46);
    align-self: flex-end;
    font-size: 20px;
    cursor: pointer;
  }

  
  .loginContainer .accessPopup {
    font-size: 50px;
    border: solid black;
    width: 500px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #47951a;
    color: rgb(220, 220, 220);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 1.5);
    z-index: 1000; 
    opacity: 0; 
    transition: 1s ease-in-out; 
    visibility: hidden; 
  }
  
  .loginContainer .accesPopup.visible {
    opacity: 1; 
    visibility: visible; 
  }
  
   
  
  .loginContainer .accessContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .loginContainer .closeBtn {
    color: rgb(46, 46, 46);
    align-self: flex-end;
    font-size: 20px;
    cursor: pointer;
  }
