body {
  font-family: Arial, sans-serif;
  
  background-color: #ededed;
  margin: 0;
  padding: 20px;
}

/*style={{ backgroundColor: 'white', border: 'none', borderRadius:'3px', boxShadow: '2px 2px 5px', border: 'none', padding: 20, marginTop: 20,  marginBottom: 20 }}*/

.extended .content{
  background-color: rgb(204, 204, 204);
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 7px;
  border: none;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*style={{backgroundColor: 'white', border: 'none', borderRadius:'3px', boxShadow: '2px 2px 5px', marginRight:'10px'}}*/

.extended .home{
  height: 30px;
  width: 75px;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  margin-right: 55px;

}
.extended .zurueck{
  height: 30px;
  width: 75px;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  margin-right: 55px;

}
.extended .naechster{
  height: 30px;
  width: 75px;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  margin-right: 55px;

}

.pimage{
  height: '250px';
  box-shadow: '2px 2px 5px';
  border-radius:'5px';
  margin-bottom: 10;
}

.extended .details-button{
  border-radius: '3px';
  border: 'none';
  box-shadow: '2px 2px 5px'
}

.extended .container {
  max-width: 800px;
  margin: auto;
  background-color: #616161;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.extended .employee-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.extended .employee-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}
.extended .employee-header h1 {
  margin: 0;
  font-size: 24px;
}
.extended .employee-details {
  margin-bottom: 20px;
}
.extended .employee-details p {
  margin: 5px 0;
}
.extended .skills {
  margin-top: 20px;
}
.extended .skills h2 {
  margin-bottom: 10px;
  font-size: 18px;
}
.extended .skills ul {
  list-style-type: none;
  padding: 0;
}
.extended .skills li {
  margin-bottom: 5px;
  color: rgb(64, 64, 64)}

